@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,500);

html {
  height: 100%;
}

body {
  background: #F7F7F7;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.navbar {
  min-height: 60px;
}

.navbar-brand {
  line-height: 30px;
  font-size: 21px;
}

.navbar-brand .brand-one {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}

.navbar-brand img {
  width: 30px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
}

.navbar-brand .brand-two {
  font-family: 'Courgette', cursive;
}

.navbar-inverse {
  background-color: #F5634A;
  border:none;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #FF6D53;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #FF6D53;
}

.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF6D53;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FF6D53;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  line-height: 30px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #FF6D53;
}

.navbar-inverse .navbar-nav>li>a:visited {
  background-color: #FF6D53;
}

.navbar-right {
  margin-right: 15px;
}

.navbar-inverse .navbar-text {
  color: #FFF;
  line-height: 30px;
}

.profile-pic {
  float: right;
  width: 40px;
  border: 2px solid white;
  margin-top: -5px;
  margin-left: 7px;
}

.sidebar {
  width: 30%;
  background-color:#FFF;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.map-content {
  position: fixed;
  right: 0;
  width: 70%;
}

#map {
  width: 100%;
  height: 100vh;
}

.map-menu {
  position: fixed;
  right: 0;
  top: 60px;
  height: 100px;
  width: 70%;
  background: #FFF;
  opacity: 0.75;
}

.nav-tabs {
  border: none;
  background: #F9F9F9;
}

.nav-tabs>li.active>a {
  background: none;
  color: #F5634A;
  border: none;
  border-bottom: 3px solid #F5634A;
}

.nav-tabs>li.active {
  background: #FFF;
  color: #F5634A;
  border: none;
}

.nav-tabs>li.active>a:hover {
  color: #F5634A;
  border: none;
  border-bottom: 3px solid #F5634A;
}

.nav-tabs>li>a {
  color: #B1B1B1;
  font-size: 21px;
  border: none;
}

.nav-tabs>li>a:hover {
  color: #B1B1B1;
  background: none;
  border-bottom: 3px solid #FF9C5B;
}

.nav-tabs>li {
  text-align: center;
  width: 100px;
}

.panel {
  border: none;
  box-shadow: none;
    border-top: 2px solid #FFF;
}

.panel-title {
  line-height: 2.5;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: none;
}

.panel-group .panel+.panel {
  margin-top: 0px;
}

.travel-head {
  color: #3B8183;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  line-height: 50px;
  display: inline-block;
}

.sidebar-add {
  display: inline-block;
  font-size: 18px;
  margin-top: 12px;
  margin-right: 15px;
}

.addstyle {
  color: #B1B1B1;
}

a:visited{
  color: #3B8183;
}

.addstyle:hover {
  color: #F5634A;
}

.panel-new {
  margin-bottom: 10px !important;
}

.panel-group .panel .panel-new {
  border-radius: 0px;
  border: 1px solid #E2E2E2;
}

.panel-new .panel-body  {
  padding: 0;
  position: relative;
}

.panel-body .row .col-md-8 {
  padding: 15px;
  font-size: 16px;
}

.link-title {
  color: #3B8183;
  font-weight: 500;
}

.link-title:hover {
  color: #256163;
}

.popover {
  box-shadow: 0 5px 10px #F5F5F5;
}

.add-pin {
  color: #CACACA;
  position: absolute;
  right: 25px;
  top: 10px;
}

.add-pin:visited {
  color: #CACACA;
}

.add-pin:hover {
  color: #F5634A;
}
